header{
    width: 100%;
    background-color: #73e8ff;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    top: 0;
}
.header-title{
    margin: 0.1em;
    padding-left: 1em;
}
.header-right{
    float: right;
    margin: 0;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: #73e8ff;
    text-align: center;
    height: auto;
}
header,footer{
    position: sticky;
    display: table-row;
}
main{
    display: table-row;
    height: 100%;
}
.round-btn{
    padding: 1em;
    border: 0;
    background-color: #73e8ff;
}
.round-btn:hover{
    border-color: black;
    border-radius: 1em;
    border-width: 0.2em;
    background-color: #29b6f6;
    cursor: pointer;
}
.round-btn:active{
    background-color: #0086c3;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}