django==2.1.11
django-webpack-loader==0.6.0
django-phonenumber-field==2.1.0
phonenumbers==8.10.2
django-enumfield==1.5
djangorestframework_jwt==1.11
djangorestframework==3.9
psycopg2-binary
django-guardian==1.4.9
pyyaml==5.1
