html {
    overflow-y: auto;
}
.application.theme--light,
.v-toolbar.theme--light,
.v-navigation-drawer.theme--light {
    background-color: #fff;
}
.v-navigation-drawer.theme--light {
    background-color: #fff !important;
}

.v-toolbar {
    box-shadow: none;
    border-bottom: solid 1px gray;
}

.v-toolbar__title {
    cursor: pointer;
    user-select: none;
}


.v-toolbar__side-icon.theme--light {
    opacity: 0.66;
}
.v-toolbar__title .opaque {
    opacity: 1;
}

.v-picker--date {
    user-select: none;
}

.v-menu__content,
.v-card:not(.hard),
.v-dialog {
    border-radius: 8px;
}
.v-card {
    margin: 8px;
    box-shadow: none;
}
.flex .v-card {
    margin-top: 0;
    margin-bottom: 16px;
}
.v-card:not(.v-picker),
.round-table {
    border: solid 1px #aaaaaa !important;
}
.v-card.hover:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}
.v-dialog > .v-card,
.v-picker.v-card,
.v-menu__content .v-card {
    margin: 0;
}

.v-menu__content .v-card {
    border: none !important;
}

.title.sub {
    font-weight: 400;
}
.v-select-list.v-card {
    margin: 0;
}
.v-menu__content.menuable__content__active.v-autocomplete__content {
    border-radius: 0px 0px 4px 4px !important;
}
.round-table {
    border-radius: 8px;
    box-shadow: none;
}
.round-table > div:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.round-table > div:last-child,
.round-table > div:last-child > div {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.v-icon {
    user-select: none;
}
.compact .v-list__tile {
    padding: 0;
}
.compact .v-list__tile__avatar {
    min-width: 36px;
    width: 36px;
    margin-left: -5px;
}

.v-list .selected {
    background-color: rgba(0, 0, 0, 0.15);
}
.v-form .layout > .flex .v-input {
    padding: 8px;
}
.v-dialog.v-dialog--active {
    background-color: white;
}

.round-table {
    border-radius: 8px;
}
.sm-corrected {
    height: 42px !important;
    width: 42px !important;
}

.v-toolbar .v-select .v-input__slot {
    margin-bottom: 0;
    height: 32px;
}

.drag-dummy {
    opacity: 0;
}

.v-btn-toggle--selected {
    box-shadow: none;
}

.high-contrast-text-thick, .high-contrast-text {
    text-shadow: 0.3px 0.3px 1px black;
}

.high-contrast-text-thin {
    text-shadow: 0.1px 0.1px 1px black;
}