header{
    width: 100%;
    background-color: #5f5fc4;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    top: 0;
}
.header-title{
    float: left;
    margin: 0.1em;
    padding-left: 1em;
}
.header-right{
    float: right;
    margin: 0;
    display: inline-block;
}
.header-right-item{
    margin: 0;
    display: inline-block;
}
.icon{
    width: 1em;
    height: 1em;
}
footer{
    bottom: 0;
    width: 100%;

    background-color: #5f5fc4;
    color: white;
    text-align: center;
    height: auto;
}
header,footer{
    position: sticky;
    display: table-row;
}
main{
    display: table-row;
    height: 100%;
    background-color: none;
    color: black;
}
.round-btn{
    padding: 0.75em;
    border: 0;
    margin: 0.1em;

    background-color: #5f5fc4;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.round-btn:hover,.round-btn-active{
    padding: 0.75em;
    border: 0;
    margin: 0.1em;
    border-color: black;
    border-radius: 0.5em;
    border-width: 0.2em;
    background-color: #283593;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.round-btn:active,.round-btn-active:active,.btn:active{
    color: white;
    background-color: #001064;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 100;
    height: 100%;
    margin: 0;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}
.feed{
    text-align: center;
}
.center{
    text-align: center;
    margin: auto;
}
.feed-item{
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.1em;
    border-style: dotted;
    width: auto;
}
.login-form{
    padding: 1em;
    margin: auto;
    font-weight: bold;
    text-align: center;
}
.form-control{
    width: 100%;
}
.btn{
    text-decoration: none;
    padding: 0.5em 2em;
    background-color: #5f5fc4;
    border: 0;
    color: white;
}
.btn:hover{
    background-color: #283593;
}
.btn:active{
    color: white;
    background-color: #001064;
}
.img-list{
    margin: 0em;
    padding: 0;
    padding-left: 0;
    display: grid;
    cursor: pointer;
}
.img-list:hover{
    background-color: rgba(216,220,214,1);
}
.img-list:active{
    background-color: rgba(128,128,128,1);
}
.img-list li {
    list-style-type: none;
    border-color: black;
    border-style: dotted;
    border-width: 0.1em;
    border-radius: 0.1em;
    overflow-wrap: break-word;
    float: left;
    margin: 0;
    padding: 0;
}
.img-icon{
    width: 15em;
}

.market-list{
    margin: 0em;
    padding-left: 0;
}


.market-pp {
    align-self: flex-start;
    float: left;
    height: 100%;
}
.bold{
    font-weight: bold;
}
.right{
    text-align: right;
    float: right;
}
.left{
    text-align: left;
    float: left;
}
strong{
    font-weight: bold;
}
.title{
    font-size: 3em;
    margin: 0.1em;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: black;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
  color: #888888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
}