header{
    width: 100%;
    background-color: #5f5fc4;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    top: 0;
}
.header-title{
    margin: 0.1em;
    padding: 0.5em 1em;
    float: left;
}
.header-right{
    float: right;
    margin: 0;
    display: inline-block;
}
.header-right-item{
    margin: 0;
    display: inline-block;
}
.icon{
    width: 1em;
    height: 1em;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: #5f5fc4;
    color: white;
    text-align: center;
    height: auto;
}
header,footer{
    position: sticky;
    display: table-row;
}
main{
    display: table-row;
    height: 100%;
    background-color: none;
    color: black;
}
.round-btn{
    padding: 0.75em;
    border: 0;
    margin: 0.1em;
    background-color: #5f5fc4;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.round-btn:hover,.round-btn-active{
    padding: 0.75em;
    border: 0;
    margin: 0.1em;
    border-color: black;
    border-radius: 0.5em;
    border-width: 0.2em;
    background-color: #283593;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.round-btn:active,.round-btn-active:active,.btn:active{
    color: white;
    background-color: #001064;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 100;
    height: 100%;
    margin: 0;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}
.feed{
    text-align: center;
}
.feed-item{
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.1em;
    border-style: dotted;
    width: auto;
}
.login-form{
    padding: 1em;
    width: 50%;
    margin: auto;
    font-weight: bold;
    text-align: center;
}
.form-control{
    width: 100%;
}
.btn{
    padding: 0.5em 5em;
    background-color: #5f5fc4;
    border: 0;
}
.btn:hover{
    background-color: #283593;
}
.btn:active{
    color: white;
    background-color: #001064;
}

.market-list li {
    height: 64px;
    list-style-type: none;
}