<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <link href="
    https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Humankapital - Markt</title>
</head>

<body>
  <header>
    <div class="header-title">HUMANKAPITAL
    </div>
      <div class="header-right">
        <div class="header-left-item"><i class="icon material-icons-outlined">account_balance</i> 10.000€</div>
        <div class="header-right-item"><i class="icon material-icons-outlined">star_border</i> 100%</div>
        
      </div>
  </header>
  <main>
    <ul class="market-list" id="market-list">
    </ul>
  </main>

  <footer>
    <a href="market"><button class="round-btn-active"><i class="icon material-icons-outlined">store</i><br>Markt</button></a>
    <a href="feed.html"><button class="round-btn"><i class="icon material-icons-outlined">speaker_notes</i><br>Feed</button></a>
    <a href="portfolio.html"><button class="round-btn"><i class="icon material-icons-outlined">table_chart</i><br>Portfolio</button></a>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>


<script>
fetch("/api/persons/tobuy").then(response => {return response.json()}).then(json => {
  var socialMap = {upper: "Oberschicht", middle: "Mittelschicht", lower: "Unterschicht"}
    
    for (person of json) {
        console.log(person)
        var genderName = ""

        if (person.gender == "m") {
            genderName = "Männlich"
        }
        else if (person.gender == "f") {
            genderName = "Weiblich"
        }
        else if (person.gender == "d") {
            genderName = "Divers"
        }
        var habithtml = ""
        for(habit of person.habits)
        {
            habithtml += `<li>${habit.name}</li>`
        }
        
        var charHtml = ""
        for(e of person.psychological_attributes)
        {
          charHtml += `<li>${e.name}</li>`
        }
        var html =`<li>

  

        <div class="market-card">
            <div>
                <img src= https://timedotcom.files.wordpress.com/2017/12/terry-crews-person-of-year-2017-time-magazine-2.jpg class="market-card-pp">            
            </div>
            <div class="market-short-bio">
                <div class="name">${person.first_name} ${person.last_name}</div> 
                <div class="age">${person.age}, ${genderName}</div>
            </div>
        
        </div>


    
    <div class="market-detail hide">
            <div>
              <div class="face-text">
                <div>
                    <img src= https://timedotcom.files.wordpress.com/2017/12/terry-crews-person-of-year-2017-time-magazine-2.jpg class="market-card-pp-detail">            
                </div>
                <div class="market-short-bio">
                    <div class="name-detail">${person.first_name} ${person.last_name}</div> 
                    <div class="age">${person.age}, ${genderName}</div>
                    <div class="job">
                      <i class="material-icons">work</i> ${person.job.name}, ${person.salary_year/100}€/Jahr </div>
                      <div class="social">
                      <i class="material-icons">person</i> ${socialMap[person.social_background]} </div>
                      <div class="habit">
                        <span>Hobbies:</span>
                        <ul class="habit-list">${habithtml}</ul>
                      </div>
                      <div class="habit">
                        <span>Charakter Eigenschaften:</span>
                        <ul class="habit-list">${charHtml}</ul>
                      </div>
                  </div>
              </div>
              <div class="bottom-wrapper">
                <div class="pitch">Verkauft <span>${person.percent}%</span> für <span>${person.value/100}€</span></div>
                <div class="market-buttons">
                  <button class="market-button nope" data-person="${person.id}">
                    <i class="material-icons notinline">clear</i>
                    </button>
                  <button class="market-button buy">
                    <i class="material-icons notinline">done</i>

                    </button>
                  </div>
              </div>
            </div>  
          
        </div>



        
        </li>`
       
        $("#market-list").append(html)
   
    }
    
    $(".market-card").click(function() {
      $(this).hide().parent().children(".market-detail").removeClass("hide").show();
    });

    $(".market-button.nope").click(function() {
      var p_id = $(this).attr("data-person")
      axios.post(`/api/person/${p_id}/nope`).then(() => {window.location.reload()})
    });

    $(".market-button.buy").click(function() {

    })
  })


</script>