<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <link href="
    https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Humankapital - Markt</title>
</head>

<body>
  <header>
    <div class="header-title">HUMANKAPITAL
    </div>
      <div class="header-right">
        <div class="header-right-item"><i class="icon material-icons-outlined">account_balance</i> $10k</div>
        <div class="header-right-item"><i class="icon material-icons-outlined">star_border</i> 100%</div>
        <a href="index.html"><button class="round-btn"><span class="icon material-icons-outlined">exit_to_app</i></span></a>
      </div>
  </header>
  <main>
    <ul class="market-list" id="market-list">
    </ul>
  </main>

  <footer>
    <a href="market.html"><button class="round-btn-active"><i class="icon material-icons-outlined">store</i><br>Markt</button></a>
    <a href="feed.html"><button class="round-btn"><i class="icon material-icons-outlined">speaker_notes</i><br>Feed</button></a>
    <a href="portfolio.html"><button class="round-btn"><i class="icon material-icons-outlined">table_chart</i><br>Portfolio</button></a>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</body>

</html>


<script>
fetch("/api/persons/tobuy").then(response => {return response.json()}).then(json => {
    
    for (person of json) {
        console.log(person)
        var genderName = ""

        if (person.gender == "m") {
            genderName = "Männlich"
        }
        else if (person.gender == "f") {
            genderName = "Weiblich"
        }
        else if (person.gender == "d") {
            genderName = "Divers"
        }
        
        var html =`<li>
        <div class="card">
          <img src= https://timedotcom.files.wordpress.com/2017/12/terry-crews-person-of-year-2017-time-magazine-2.jpg
          class="market-pp">

        <p>${person.first_name} ${person.last_name}</p> 
        <p>${person.age}, ${genderName}</p>
        </div>
        </li>`
       
        $("#market-list").append(html)
   
    }
    
    
    
    })


</script>